@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);

.image{
    width: 180px;
    height: 40px;
    margin-left: 100px;
    float: left;
}

.words{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:x-large;
    line-height: 80px;
    color: rgb(92, 90, 90);
    padding-top: 100px;
    margin-left: 20px;
}

h3, p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.container{
    max-width: 1170px;
    margin: auto;
    padding: 100px;
}

ul{
    list-style: none;
}
footer {
    background-color: #dddd;
    padding: 70px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15PX;
    text-decoration: none;
    color: black;
}


